{{ $currentTags := .Params.tags }}
<h2>Related Publications</h2>
<ul>
  {{ range where .Site.RegularPages "Type" "publication" }}
    {{ $found := false }}
    {{ range .Params.tags }}
      {{ if in $currentTags . }}
        {{ $found = true }}
      {{ end }}
    {{ end }}
    {{ if $found }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        ({{ .Date.Format "2006" }})
        {{ with .Params.authors }}
          by {{ delimit . ", " }}
        {{ end }}
      </li>
    {{ end }}
  {{ end }}
</ul>
